.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

.axisSteelBlue text {
  fill: #23815a; /* average of steelblue + green */
}

.axisRed text {
  fill: red;
}

.axisLabel text {
  font-family: sans-serif;
  font-size: 10px;
}

#elk-blue path {
  stroke-dasharray: 0;
  stroke: steelblue;
}

#wolf-red path {
  stroke-dasharray: 2;
  stroke: red;
}

#elk-blue path {
  stroke-dasharray: 5;
  stroke: green;
}

.tooltip text {
  font-family: sans-serif;
  font-size: 12px;
}
